$color-brand-1: #352F7F;
$color-brand-2: #C20F25;

$color-text-1: #414042;
$color-text-2: #94999F;
$color-text-3: #DBDBDB;
$color-text-4: #F0EFF0;

$color-success: #6FCF97;
$color-danger: #EE4A4A;
$color-alert: #FFBA40;

$color-dark: #414042;
$color-page-background: #040E14;
$color-block-background: #FFF;
$color-grey-background: #F0EFF0;

$page-margin-desktop: 80px;
$page-margin-mobile: 25px;

@mixin flex($direction: row, $wrap: nowrap, $align: flex-start, $justify: flex-start) {
    display: flex;
    flex-flow: $direction $wrap;
    align-items: $align;
    justify-content: $justify;
}

html,
body {
    font-family: 'Montserrat', 'Arial';
    font-weight: 400;
    font-size: 18px;
    line-height: 1.4;
    color: $color-dark;
    height: 100%;
}

body.no-scroll {
    overflow: hidden;
    padding-right: var(--scrollbar-width);
}

a {
    color: $color-brand-1;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: $color-brand-2;
    }
}

/* ----------------------------------------- Заголовки ----------------------------------------- */

%headlines {
    line-height: 1.3;
    margin: 0;
}

h1 {
    @extend %headlines;

    font-weight: 500;
    font-size: 64px;
    margin-bottom: 25px;

    @media screen and (max-width: 480px) {
        font-size: 36px;
    }
}

h2 {
    @extend %headlines;

    font-weight: 500;
    font-size: 48px;
    margin-bottom: 25px;
    
    @media screen and (max-width: 480px) {
        font-size: 24px;
    }
}

h3 {
    @extend %headlines;

    font-weight: 500;
    font-size: 36px;
    margin-bottom: 20px;
    
    @media screen and (max-width: 480px) {
        font-size: 18px;
    }
}

h4 {
    @extend %headlines;

    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}

h5 {
    @extend %headlines;

    font-weight: 500;
    font-size: 18px;
    margin-bottom: 15px;
}

h6 {
    @extend %headlines;

    font-weight: 500;
    font-size: 16px;
    margin-bottom: 15px;
}

p {
    margin: 0 0 15px 0;
}

@keyframes arrow {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(0);
    }
    75%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}