.page-wrap {
    @include flex($direction: column, $align: stretch);
    min-height: 100%;
    max-width: 700px;
    margin: auto;
}

.page-header {
    width: 100%;
}

.page-content {
    flex-grow: 1;
    width: 100%;
}

.page-footer {
    width: 100%;
}