@import 'fonts', 'kit', 'layout';

html, body {
    background: $color-page-background;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat', 'Helvetica';
    line-height: 1.4;
}

.page-header{
    margin-bottom: 40px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .down-arrow{
        position: absolute;
        bottom: 40px;
        display: flex;
        justify-content: center;
        transform: translateY(0);
        animation: arrow 0.8s linear infinite;

        img{
            width: 50px;
        }
    }
}

.effect-special{
    color: rgb(255, 109, 133);
}

.effect-fun{
    color: hsl(280 80% 50%);
}
.effect-temirlan{
    color: #11db11;
    font-weight: 700;
}

.effect-overflow{
    color: hsl(10 80% 50%);

    &.underline-clip:after{
        border-color: hsl(10 80% 50%);
    }
}

.underlined {
    /*   background: red; */
      position: relative;
}

.underline-mask:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    background-color: hsl(280 80% 50%);
    height: 2px;
}


.underline-overflow {
    display: inline;
}
.underline-overflow:after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    background-color: hsl(10 80% 50%);
    height: 2px;
}
    
.underline-clip:after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    background-color: rgb(255, 109, 133);
    height: 2px;
}

.title-5{
    font-weight: 600;
    font-size: 32px;
    color:rgb(255, 109, 245);
    position: relative;
    width: max-content;
    margin: auto auto 20px;

    @media screen and (max-width: 480px) {
        font-size: 20px;
    }


    &::before{
        content: "";
        position: absolute;
        bottom: -10px;
        left: 0;
        right: 0;
        background-color: rgb(255, 109, 245);
        height: 3px;
    }
}

.tiles{
    @include flex($direction: column, $align: center);

    .tile{
        width: 100%;
        margin: 20px 0;

        .title{
            font-weight: 500;
            margin: 0 auto 12px;
            font-size: 32px;

            @media screen and (max-width: 480px) {
                font-size: 18px;
            }
        }

        .image{
            padding: 10px;
            border-radius: 10px;
            max-width: 100%;
            width: max-content;
            margin: 0 auto 12px;
            background-color: #2A3435;

            .img{
                width: 100%;
                height: auto;
                object-fit: contain;
                border-radius: 5px;
            }
        }
    }
}

.page-footer{
    padding-bottom: 120px;

    .footer-copyright{
        font-size: 24px;
        margin-top: 20px;
    }

    .footer-confession{
        margin-top: 80px;

        p{
            font-size: 24px;
        }
    }

    .footer-image{
        width: 100%;
        img{
            width: 100%;
        }
    }
    
    .footer-title-1{
        margin-bottom: 20px;
        font-size: 24px;
    }
    
    .footer-down-arrow{
        display: flex;
        justify-content: center;
        transform: translateY(0);
        animation: arrow 0.8s linear infinite;
    
        img{
            width: 50px;
        }
    }
}